name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"
      
      - name: Install dependencies
        run: uv sync --locked --all-extras --dev

      - name: Check code formatting
        run: uv run ruff format --check --diff .

      - name: Run linter
        run: uv run ruff check .
      
      - name: Run tests
        run: |
          cp .env.example .env
          uv run pytest -v 